body{
    background-color: rgb(211, 236, 255);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

#main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrCard{
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgb(180, 180, 180);
}



img{
    width: 100%;
    border-radius: 20px;
}

.descQr{
    width: 90%;
}

.descQr p {
    font-size: 15px;
}